<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gyq.mapper.IUserMapper">
    <resultMap id="users" type="users">
        <id property="uid" column="uid"/>
        <result property="ucode" column="ucode"/>
        <result property="uname" column="uname"/>
        <result property="password" column="password"/>
        <result property="uaddres" column="uaddress"/>
        <result property="rid" column="rid"/>
        <result property="createBy" column="createBy"/>
        <result property="createDate" column="createDate"/>
        <result property="updateBy" column="updateBy"/>
        <result property="updateDate" column="updateDate"/>
    </resultMap>
    <insert id="addUser" parameterType="users">
        insert into users(ucode, uname, password, uaddress, rid, createBy, createDate)
        values (#{ucode},#{uname}, #{password}, #{uaddress}, #{rid}, #{createBy}, #{createDate})
    </insert>
    <select id="ulist" resultMap="users">
        select * from users
    </select>
</mapper>